body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: monospace;
    background-color: lavender;
}

.image-box {
    position: relative;
    /*background-color: aqua;*/
    width: 300px;
    height: 350px;
}

.card {
    position: absolute;
    /* background-color: gold; */
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-in-out;
    box-shadow: 0px 0px 10px black;
    border-right: 24px;
}

.front-card {
    position: absolute;
    /* background-color: green; */
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0px 0px 10px black;
    border-right: 24px;
}

.back-card {
    position: absolute;
    background-color: rgb(208, 114, 133);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px black;
    border-right: 24px;
    color: black;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: rotateY(180deg);
}